<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#topList" type="button">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
      <div class="navbar-brand">
        <a class="brand" href="#">MYMENU</a>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="topList">
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li><a href="#/start">家常菜</a></li>
          <li><a href="#/start">素材</a></li>
          <li><a href="#/start">凉菜</a></li>
          <li><a href="#/start">面食</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>